<?xml version="1.0"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="WasteManagementAPIJob.Properties.Settings.Connection" connectionString="Data Source=DIT-MSSQL01-DV;User ID=RefuseAppId;Password=R3fus3T3st" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    
    <!--<add key="baseURL" value="https://apitest.wm.com"/>
    <add key="clientId" value="942586CECF26707EA614"/>
    <add key="ErrorEmail" value="mazumder.indranil@richmondgov.com"/>
    <add key="emailhostserver" value="exchange20.richva.ci.richmond.va.us"/>
    <add key="clientSecretId" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGl1c2VyLmNvbSIsInN1YiI6IlJhdGhpcHJpeWEuRHVyYWlwYW5kaWFuQHJpY2htb25kZ292LmNvbSIsImp0aSI6IlVOSVFVRUlELTEyMyIsInNjb3BlIjpbInNlbGYiLCJhZG1pbnMiXSwiaWF0IjoxNDg1NDYwOTc1LCJleHAiOjE1MTY5OTY5NzV9.Z782PabyRqA878Os2Dp0VTUlpwCygHWn42rbgzJ9OQw"/>-->
    <add key="baseURL" value="https://api.wm.com"/>
    <add key="clientId" value="B1BA5CDBEA0F92ABCC21"/>
    <add key="ErrorEmail" value="mazumder.indranil@richmondgov.com"/>
    <add key="emailhostserver" value="exchange20.richva.ci.richmond.va.us"/>
    <add key="clientSecretId" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGl1c2VyLmNvbSIsInN1YiI6IlJhdGhpcHJpeWEuRHVyYWlwYW5kaWFuQHJpY2htb25kZ292LmNvbSIsImp0aSI6IlVOSVFVRUlELTEyMyIsInNjb3BlIjpbInNlbGYiLCJhZG1pbnMiXSwiaWF0IjoxNDk1MTQzMzQ1LCJleHAiOjE1NTgyMTUzNDV9.BLE3eBo4J0AiPes1N2afn4FTgSjiGpCeEKRh_McDneU"/>
    <add key="logger" value="C:\\Library\\logFile.txt"/>
    
    <add key="TicketsSummaryAPILink_COR_DPW" value="/v1/customers/57756982003/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_DPW" value="/v1/customers/57756982003/tickets/"/>


    <add key="TicketsSummaryAPILink_DPW_COR" value="/v1/customers/94162043007/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_DPW_COR" value="/v1/customers/94162043007/tickets/"/>


    <add key="TicketsSummaryAPILink_COR_Police" value="/v1/customers/57756962007/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_Police" value="/v1/customers/57756962007/tickets/"/>


    <add key="TicketsSummaryAPILink_Police_COR" value="/v1/customers/94162033009/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_Police_COR" value="/v1/customers/94162033009/tickets/"/>

    <add key="TicketsSummaryAPILink_COR_VCU" value="/v1/customers/108390253003/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_VCU" value="/v1/customers/108390253003/tickets/"/>


    <add key="TicketsSummaryAPILink_COR_SocialService" value="/v1/customers/57760092002/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_SocialService" value="/v1/customers/57760092002/tickets/"/>

    <add key="TicketsSummaryAPILink_SocialService_COR" value="/v1/customers/94162093006/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_SocialService_COR" value="/v1/customers/94162093006/tickets/"/>

    <add key="TicketsSummaryAPILink_COR_AnimalControl" value="/v1/customers/94162023001/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_AnimalControl" value="/v1/customers/94162023001/tickets/"/>
    
    <add key="TicketsSummaryAPILink_COR_GeneralService" value="/v1/customers/57756952009/tickets?ticket_type=disposal"/>
    <add key="TicketsDetailsAPILink_COR_GeneralService" value="/v1/customers/57756952009/tickets/"/>
    
    <add key="Request-Tracking-Id_Dev" value="testtrackingid"/>

  
    
    
    
    
    <add key="Request-Tracking-Id_Stage" value="testtrackingid"/>

    <add key="clientSecretIdProd" value=""/>
    <add key="Request-Tracking-Id_Prod" value=""/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LogErrorServiceViaBasicHttp" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://starapp.richva.ci.richmond.va.us/SERVICES/CORAPPLICATIONLOGGING/LogErrorService.svc/LogErrorServiceBasic"
        binding="basicHttpBinding" bindingConfiguration="LogErrorServiceViaBasicHttp"
        contract="ErrorLog.ILogError" name="LogErrorServiceViaBasicHttp" />
    </client>
  </system.serviceModel>
</configuration>
